*{
  box-sizing: border-box;
  margin: 0;
}

body{
	background-color: #C09F80; 
	color: #76323F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
	min-width: 800px;
}
header{
	/* background-color: #76323F;  */
	height: 200px;
	width: auto;
	margin: 0;
}

#main{
	float:left;
	width: 60%;
	padding: 20px 30px;
	box-sizing: border-box;
	background-color: #D7CEC7;
	margin-top: 30px;
	border-radius: 3px;
	height: auto;
}
#main h1{
	font-size: 30px;
	line-height: 35px;
}

#main p{
	margin: 20px 0px;
}


.vid{
	width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}
#main-footer{
	text-align: left;
	color: #f4f4f4;
	background-color: #565656;
	padding: 30px;
	width: auto;
}
#main-footer h2{
	border-bottom: solid 2px;
	border-color: #f4f4f4;
}
#main-footer *{
	margin: 10px;
}


#socials a{
	color: #f4f4f4;
	text-decoration: none;
}
#socials a:hover{
	text-decoration: underline;
}
#registration a{
	color: #f4f4f4;
	text-decoration: none;
}
.teacher h2{
	font-size: 30px;
	font-family: Times new roman;
	text-decoration: underline;
}
.teacher{
	padding-bottom: 10px;
}
.quran{
	text-align: center;
}
#events{
	width: 35%;
	border-radius: 3px;
	border-color: #D7CEC7;
	padding: 20px 10px;
	background-color: #D7CEC7;
	margin-top: 30px;
	overflow: scroll;
	overflow-x: hidden;
	height: 100vh;
}
#events h2{
	border-bottom: solid 3px;
	border-color: #f4f4f4;
	margin-bottom: 20px;
	padding: 8px;
}

.post{
	border-bottom: solid 1.5px;
	border-color: #000;
	height: auto;
	width: 80%;
	box-sizing: border-box;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 20px 10px;
}

.container2{
	margin: 20px;
	overflow: hidden;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: start;
}

@media screen and (max-width: 768px) {
	#events{
		width: 90%;
	}
	.container2{
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	#main{
		width: 90%;
	}
	#main p{
		font-size: 25px;
	}
	#main-header{
		font-size: 40px !important;
	}
}

/* Header css */
#header1{
  background-color: #76323F;
  color: #f4f4f4;
  margin: 0px;
  height: 200px;
  display: flex;
  justify-content: start;
  align-items: center;
}

#logo{
margin: 20px;
height: 150px;
width: auto;
padding: 0px;
}

#logodiv{
float: left;
margin:0px;
}

.container{
float: right;
}

#main-header{
color: #f4f4f4;
display: block;
float: left;
/* width: 70%; */
font-size: 50px;
}
#tagline{
color: #f4f4f4;
display: block;
float: left;
margin-top: 10px;
}

/* Navbar */
#navbar{
	background-color: #565656;
	color: f4f4f4;
	margin: 0;
	width: 100%;
}
#navbar ul{
	padding: 0;
	list-style: none;
	margin: 0;
}
#navbar li{
	display: inline;
}
#navbar a{
	color: #f4f4f4;
	text-decoration: none;
}
.options:hover{
	background: linear-gradient(to right, #565656, #635f5c);
	
}
.options{
	display: inline;
	height: 33px;
	width: 30%;
	padding: 10px 25px;
	/*padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 15px;*/
	line-height: 60px;
}